footer.footer 
    .container
        .row
            .col-md-3
                ul.services-list  
                    li.services-item 
                        a(class = "services-item-link" href = '') Tư vấn và cải thiện hồ 
                    li.services-item 
                        a(class = "services-item-link" href = '') Khám bệnh 
                    li.services-item 
                        a(class = "services-item-link" href = '') Tư vấn online
            .col-md-3
                ul.about-us-list   
                    li.about-us-item 
                        a(class = "about-us-item-link" href =  '') Về chúng tôi
                    li.about-us-item 
                        a(class = "about-us-item-link" href =  '') Cộng đồng
                    li.about-us-item 
                        a(class = "about-us-item-link" href =  '') Chính sách 

            .col-md-3
                ul.info-list   
                    li.info-item koivet@gmail.com
                    li.info-item 0978555479
                    li.info-item 7:00 - 17:00 Các ngày trong tuần
            .col-md-3
                p.adress Lô E2a-7, đường D1 Khu Công Nghệ Cao, P.Long Thạnh Mỹ, Tp.Thủ Đức, Tp.Hồ Chí Minh
        .copyright Copyright 2024 Neronmen
            