


header 
  nav.navbar.navbar-expand-lg
    div.container-fluid
      a(class ='navbar-brand' href = '') HomePage 
      ul.navbar-nav.me-auto.mb-2 
        li.nav-item.dropdown 
          a(class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false") Các dịch vụ
          ul.dropdown-menu 
            li.dropdown-item 
              a(class = 'dropdown-item-link' href='')  Tư vấn và cải thiện hồ
            li.dropdown-item 
              a(class = 'dropdown-item-link' href='')  Khám bệnh
            li.dropdown-item 
              a(class = 'dropdown-item-link' href='')  Tư vấn online
        li.nav-item
          a(class='nav-link' href='') Cộng đồng
        li.nav-item
          a(class='nav-link' href='') Tư vấn
        li.nav-item
          a(class='nav-link' href='') Về chúng tôi
        li.nav-item
          button(class="btn btn-appointment" onclick="window.location.href='/appointment'" ) Đặt lịch hẹn
        li.nav-item
          a(class='nav-link' href='') Đặng nhập    
        li.nav-item  
          a(class='nav-link' href='') Đăng ký
         


