
header
  nav
    .nav-bar
      i.bx.bx-menu.sidebarOpen
      .menu
        .logo-toggle
          span.logo
            a(href='#') CodingLab
          i.bx.bx-x.siderbarClose
        ul.nav-links
          li
            a(href='/koi/appointment') Đặt lịch hẹn
         


