extends ../../layouts/default.pug
include ../../mixins/mixin-title.pug

block main
  style.
    .form-control {
      width: 100%;
    }
    table thead tr th{
          background-color: #d2d4d4 !important;
    }

  .block-sider(style="width:90%;margin-left:180px;")
    //- pre
    //-     code= JSON.stringify(currentAppointmentFish, null, 2)
    .container-fluid
      +title("Kê Đơn Thuốc")
      form#prescriptionForm(action="/doctor/current-appointment/payment-fish" method="POST")
        input#previousPageData(type="hidden" name="previousPageData")
        input#selectedMedications(type="hidden" name="selectedMedications")
        
        // Container for medication cards
        .medication-cards

        .text-center.mt-4
          if(currentAppointmentFish.Address == null)
              button.btn.btn-lg.mr-5( id="payCenter" style="background-color: #4294b1c7; color: black; padding: 10px;") Hoàn tất
          else
            button.btn.btn-lg.mr-5(type="submit" style="background-color: #4294b1c7; color: black; padding: 10px;") Thanh toán
          a.btn.btn-lg(href="/doctor/current-appointment" style="background-color: #4294b1c7; color: black; padding: 10px;") Quay lại
    form#formPayCenter(action="/doctor/current-appointment/payment-fish-center" method="POST")
        input#previousPageDataCenter(type="hidden" name="previousPageData")
        input#selectedMedicationsCenter(type="hidden" name="selectedMedications")

  script.
    const medications = !{JSON.stringify(listMedicine)};
  script(src="/doctor/js/prescribe-healthyFish.js") 
    