.header{
    background: #202020;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .inner-logo a{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.body .sider{
    width: 150px;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
}
.body .main{
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px);
}


.sider .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sider .inner-menu ul li a{
    color: rgb(252, 252, 252);
    border-bottom: 1px solid #515151;
    display: block;
    padding: 6px 10px;
}


.table-my-appointment {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table-my-appointment .process {
    background-color: #decdcd6e;
    border-radius: 20px;
    height: 42px;
    padding: 10px;
    width: 164px;
    margin: 0 auto;
    font-weight: bold;
    font-style: normal;
}

.table-my-appointment thead {
    background-color: #5aaeba;
    color: white;
    font-weight: bold;
    text-align: center;
}

.table-my-appointment thead th {
    padding: 12px 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}


.table-my-appointment tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.table-my-appointment tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-my-appointment tbody tr:last-of-type {
    border-bottom: 2px solid #53afbd;
}

.table-my-appointment tbody td {
    padding: 12px 15px;
    color: #333;
}

.table-my-appointment tbody tr:hover {
    background-color: #f1f1f1;
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
}

.table-my-appointment tbody td {
    position: relative;
    padding: 20px;
}

.table-my-appointment tbody td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 12px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    display: none;
}
/* ALERT */
.alert-success{
    border: 2px solid #12b40b;
    font-size: 18px;
    background-color: #28a745;
    width: auto;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgb(24 213 55 / 30%);
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    color: #fff;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.9;
}
.alert-success:hover {
    transform: scale(1.05); /* Tăng kích thước khi hover */
    opacity: 1; /* Độ mờ khi hover */
}
.alert-danger{
    background-color: #dc3545;
    width: auto;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgb(213 24 67 / 30%);
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    color: #fff;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.9;
    border: 2px solid #cf6262;
    font-size: 18px;
}
[show-alert]{
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 9999;
}
[show-alert].alert-hidden{
    animation-name: alert-hidden;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from{
        right: 15px;
    }
    to{
        right: -100%;
        display: none;
    }

}

[close-alert]{
    background: #0a0a0ac4;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
}


/* Upload File image */
.upload-preview{
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.upload-preview[src=""]{
    display: none;
}





/* Modal */
/* table.table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
  }
  table.table tbody tr td{
    border: 1px solid #5a5353;
    padding: 39px 0 28px 10px;
    font-weight: 600;
    font-size: 20px;
  }
  
  table.table th, table.table td {
    border: 1px solid #5a5353;
    padding: 8px;
  }
  
  table.table th {
    background-color: #78b2cbc4;
    color: black;
    text-align: center;
  }
  
  table.table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table.table tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  table.table tr:hover {
    background-color: #ddd;
  }
  
.table thead  tr th {
    text-align: center;
}
.table tbody  tr td {
    text-align  : center;
} */

.table  tr td img{
    width: 90px;
    height: 90px;
    border-radius: 17%;
    object-fit: cover;
    border: 2px solid black;
    margin: 0 28%;
}
.badge-success-custom{
    width: 64%;
    height: 46px;
    padding: 12px;
    border: 2px solid black;
    font-size: 13px;
    border-radius: 20px;
}
#modal_info {
    display: none;
    width: 800px;
    height: auto;
    background-color: #6b809d78;
    border: 2px solid black;
    border-radius: 10px;
    position: fixed;
    z-index: 9999;
    margin: 0 25%;
    padding: 40px;
    left: 6%;
    top: 14%;
}

.box-image {
    height: 177px;
    width: 188px;
    margin: 34px 0 0 27px;
    border-radius: 21px;
    border: 2px solid black;
    box-shadow: 4px 4px 2px #433737c2;
    object-fit: contain;
}

.box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.mainWrapper{
    height: 100vh;
    position: relative;
}
.blur{
    filter: blur(2px);
}
.repair {
    font-weight: 800;
    border-radius: 20px;
    width: 183px;
    background-color: #9CCDBC;
    color: #131212;
    margin: 101px 18px 18px 28px;
    font-size: 16px;
    height: 60px;
    cursor: pointer;

}

.reset-password {
    border-radius: 16px;
    height: 44px;
    width: 153px;
    background-color: #0D0B5D;
    color: white;
    margin: 10px 0 0 28px;
    font-size: 16px;
    cursor: pointer;
}
.save{
    border-radius: 16px;
    height: 44px;
    width: 153px;
    background-color: #0D0B5D;
    color: white;
    margin: -16px 0 0 28px;
    font-size: 16px;
    cursor: pointer;
}
.div-information{
    background-color: #9ccdbc;
    border: 2px solid black;
    border-radius: 10px;
    font-style: italic;
    font-weight: 600;
}
.information {
    height: 100%;
    width: 100%;
    margin: 16px 0 0 -1px;
    font-size: 18px;
    
    
}




.avatar-user-mini-circle {
    border-radius: 10px; 
    width: 50px; 
    height: 50px; 
    cursor: pointer;
    margin-right: 20px;
    object-fit: cover; /
}


.container-my-account{
    max-width: 76%;
    margin: 47px auto;
    padding: 20px;
    background-color: #afd4d1d6;
    border-radius: 35px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #201d1d;
}

.personal-header {
    margin: 19px 0 32px 0;
    font-size: 45px;
    font-weight: 700;
    color: #201d1d;
    text-align: center;
}

.avatar-container {
    text-align: center;
    margin-bottom: 20px;
}

.avatar-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid #007bff;
    object-fit: cover;
}

.avatar-img.placeholder {
    border-color: #ccc;
}

.info-container {
    padding: 10px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    color: #007bff;
    width: 40%;
    text-align: right;
    padding-right: 10px;
}

.value {
    width: 60%;
    text-align: left;
    color: #333;
}

span {
    color: #aaa;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.edit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.edit-btn:hover {
    background-color: #0056b3;
}



/* Edit my-account  */

.edit-title-my-account{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 50px 0 40px 0;
}

.form-edit-my-account{
    width: 80%;
    background-color: #dae5e8;
    border: 2px solid black;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
}
.button-edit-my-account{
    margin: 0px 40%;
    width: 200px;
    border: 2px solid black;
    border-radius: 14px;
    height: 50px;
}




/* mixin-title */
.mixin-title{
    text-align: center;
    margin: 50px auto 30px;
    width: 70%;
    background-color: #21a0b3;
    border-radius: 32px;
    color: white;
    font-weight: bold;
    font-size: 36px;
    height: 70px;
    padding: 10px;
}