prefixAdmin
    .sider 
        .inner-menu 
            ul 
                    li 
                        a(href=`/doctor/dashboard`) Tổng quan 

                    li 
                        a(href=`/doctor/dashboard`) Danh mục bác sĩ
                    li 
                        a(href=`/doctor/dashboard`) Danh mục bác sĩ 