
prefixAdmin
    .sider 
        .inner-menu 
            ul.nav.flex-column 
                li.nav-item 
                    a.nav-link(href=`/doctor/schedule`) Lịch làm việc 
                li.nav-item 
                    a.nav-link(href=`/doctor/current-appointment`) Đơn hiện tại
                li.nav-item 
                    a.nav-link(href=`/doctor/appointment`) Hồ sơ lịch hẹn