
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
}

/* ===== Colours ===== */
.onTop{
    width: 100%; 
    height: 30px;
    background-color: #393838;
}
:root{
    --body-color: #E4E9F7;
    --nav-color: #5b2968;
    --side-nav: #852b5c;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body{
    height: 250vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

.body{
    margin-top: 100px;
}
#logo {
    border: none;
}
#logo img{
    height: 76px;
    background-color: var(--nav-color);
}

nav{
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}



nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: blue;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 32px;
    font-weight: 1000;
    color: var(--text-color);
    text-decoration: none;


}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 20px;
    font-weight: 700;
    
    text-decoration: none;
    padding: 10px;
}
.nav-links {
    padding-left: 15rem;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}


.footer{
    background-color: #333;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
}







/* ALERT */

[show-alert]{
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
}
[show-alert].alert-hidden{
    animation-name: alert-hidden;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from{
        right: 15px;
    }
    to{
        right: -100%;
        display: none;
    }

}

[close-alert]{
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}
