/* .footer{
    background-color: #333;
    position: relative;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 0;
    bottom: 0;
    width: 100%;
    height: 80px;
} */
body {
    background-color: #EFEFEF; /* Light grey background color */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Default font family */
    color: #333; /* Default text color */
    height: 100%;
}
.footer {
    background-color: #4c4a4a;
    position: relative;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 40px 10px 10px 0;
    bottom: 0;
    margin: 0;
    width: 100%;

}

.contener-fluid {
    display: flex;
    justify-content: center;
}

/* Container and Navbar Styling */
.navbar {
    background-color: #4475B9;
    padding: 1rem 2rem;
    font-family: 'Arial', sans-serif;
    font-size: 0.9rem;
    height: 120px;
    border-bottom: solid black 2px;
}

.navbar-nav {
    margin-left: auto;
    align-items: center;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 2rem;
}

.nav-item {
    margin-left: 1.5rem;
    white-space: nowrap;
}


.nav-item:last-child {
    margin-left: 0;
}

/* Đảm bảo dropdown-menu ẩn khi không hover */
ul.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Khi hover vào .nav-item, hiển thị dropdown-menu */
  li.nav-item.dropdown:hover ul.dropdown-menu {
    display: block;
  }
  
  /* Cấu hình thêm cho các item bên trong dropdown */
  ul.dropdown-menu li a {
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    color: #333;
  }
  
  ul.dropdown-menu li a:hover {
    background-color: #f1f1f1;
  }
  

/* Nav links */
.nav-link {
    font-size: 20px;
    color: #F1F1F1;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    /* Adjusted font size for nav links */
    white-space: nowrap;
}

.nav-link.hover:hover {
    color: #F1F1F1;
    border-bottom: 5px solid #FFD700;
}

.nav-link:hover {
    color: #FFD700;
}

/* Button Styling */
.btn-appointment {
    background-color: #bd2222;
    color: #fff;
    padding: 0.45rem 1.4rem;
    border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    margin-left: 2rem;
    font-size: 1rem;
    width: 181px;
    height: 49px;
}

.btn-appointment:hover {
    background-color: #d75858;
    color: #fff;
    
}

/* Login/Register Links */
.nav-item .nav-link {
    font-size: 20px;
}
.nav-item .nav-link:last-child {
    margin-left: 1rem;
    font-size: 0.8rem;
    font-size: 20px;
    /* Slightly smaller font for login/register */
}

ul.dropdown-menu a.dropdown-item-link {
    text-decoration: none !important;
    /* Ensure no underline */
    color: #000;
   font-size: 1.25rem;
}

ul.dropdown-menu a.dropdown-item-link:hover {
    text-decoration: none !important;
    /* Ensure no underline on hover */
    color: #FFD700  ;
    /* Change color on hover if needed */
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent; /* Hoặc màu bạn muốn */
}

.services-list {
    list-style: none;
}

.services-item-link {
    text-decoration: none !important;
    /* Ensure no underline */
    color: #fff;
    /* Ensure proper text color */
}

.services-item-link:hover {
    text-decoration: none !important;
    /* Ensure no underline on hover */
    color: #d75858;
}

.about-us-list {
    list-style: none;
}

.about-us-item-link {
    text-decoration: none !important;
    /* Ensure no underline */
    color: #fff;
    /* Ensure proper text color */
}

.about-us-item-link:hover {
    text-decoration: none !important;
    /* Ensure no underline on hover */
    color: #d75858;
}

.info-list {
    list-style: none;
}

.copyright {
    display: flex;
    justify-content: center;
}

.col-7.left-column,
.col-5.right-column {
    padding: 0;
}

.login-img {
    max-width: 100%;
    height: 100%;
}

.col-7.left-column {
    /* clip-path: ellipse(95% 100% at 0% 50%); */
    position: relative;
    z-index: 0;
}

.col-5.right-column {
    padding: 5em 2rem 2rem 0;
}

.right-container {
    margin-top: 5rem;
    
    
}

.form-container.login-container {
    margin-top: 3rem;

}

.form-group.utilities {
    display: flex;
}

.form-control.login-element {
    max-width: 40rem;
}

.submit-login {
    margin: 0 40%;
}


.btn.login-button {
    width: 150px;
    background-color: #2da0cc;
    color: white
}

.form-control.register-element {
    max-width: 40rem;
    margin: 0;
    padding: 6px 12px;
}

.register-img {
    width: 100%;
    height: 100%;
}

.submit-register {
    display: flex;
    justify-content: center;
}

.register-button {
    color: #fff;
    background-color: #d75858;
}

.img-banner {
    width: 100%;
    height: 550px;
    object-fit: unset;

}
.banner{
    border-bottom-left-radius: 180px;
    border-bottom-right-radius: 180px;
    border: 5px solid #000000;
    background-image: url('/images/KoiBanner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    width: 100%;
    background-size: 100% 100%;
}

.container-fluid {
    padding: 0;
   
    
    
}

section.intro {
    padding: 3rem 7rem 3rem 7rem;
    font-family: 'Poppins', sans-serif;
    /* background-color: #FDF6F2; */
    border-radius: 0.5rem;
}

.intro-title {
    font-weight: bold;
    font-size: 2.5rem;
    opacity: 0.8;
    margin: 50px;
}

.intro-content {
    font-size: 1.25rem;
}

hr.seperate-line {
    border: none;   
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

section.profession {
    padding: 3rem 7rem 3rem 7rem;
    font-family: 'Poppins', sans-serif;   
    border-radius: 0.5rem;
}

.card-title {
    padding: 30px;
    margin: 35px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
    color: #0065c2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.profession-card {
    height: 500px;
    border: 5px solid #A9D6E2;
    border-radius: 15px;
    box-shadow: 0 0 20px 6px #88afcc;
}
.profession-card:hover {
    border: 5px solid  black; 
    transform: scale(1.05); 
    transition: transform 0.3s ease;
}

.profession-card-img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

section.service {
    padding: 1rem 3rem 3rem 3rem;
    margin-bottom: 50px;
}

/* Container holding the image */
.image-container {
    position: relative;
    width: 100%;
    height: 344px; /* Height of the image */
  }
  
  /* Image styling */
  .image-container img {
    width: 100%;
    height: 100%; /* Ensure the image takes full height */
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 20px;
  }
  
  /* Overlay containing text and button */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9AD1E0; /* White background with some transparency */
    color: black; /* Black text for contrast */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
    border-radius: 20px;
  }
  
  /* Hover effect - hiển thị overlay khi hover */
  .image-container:hover .overlay {
    opacity: 1; /* Show overlay on hover */
  }
  
  .overlay h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .overlay p {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .overlay button {
    border: none;
    background-color: transparent;
    color: black; /* Change button color to match text */
    font-size: 18px;
    cursor: pointer;
  }
  

.reviews-container {
    text-align: center;
    margin: 40px;
}

.review-card {
    background-color: #E3F2FD; /* Màu nền nhẹ */
    border-radius: 10px; /* Bo góc */
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Bóng nhẹ */
    display: inline-block;
    width: 30%; /* Điều chỉnh chiều rộng thẻ */
    vertical-align: top;
}

.review-card h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.review-card p {
    color: #555;
    font-size: 18px;
}

.stars {
    color: #FFD700;
    margin: 5px 0;
    font-size: 24px;
}

/* ALERT */

/* ALERT */
.alert-success{
    border: 2px solid #12b40b;
    font-size: 18px;
    background-color: #28a745;
    width: auto;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgb(24 213 55 / 30%);
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    color: #fff;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.9;
}
.alert-success:hover {
    transform: scale(1.05); /* Tăng kích thước khi hover */
    opacity: 1; /* Độ mờ khi hover */
}
.alert-danger{
    background-color: #dc3545;
    width: auto;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgb(213 24 67 / 30%);
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    color: #fff;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.9;
    border: 2px solid #cf6262;
    font-size: 18px;
}
[show-alert]{
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 9999;
}
[show-alert].alert-hidden{
    animation-name: alert-hidden;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from{
        right: 15px;
    }
    to{
        right: -100%;
        display: none;
    }

}

[close-alert]{
    background: #0a0a0ac4;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
}




/* width: 100%;
padding: 10px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 28px;
box-sizing: border-box;
margin-top: 10px;
background-color: #cac0c05c; */


/* Appointment */
.form_appointment {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    padding: 75px 2rem 0 2rem;
    background-color: #bee8ee;
    border-radius: 30px;
    box-shadow: 0px 0px 12px 11px rgb(22 64 169 / 17%);
    border: 2px solid #1346c8;
}

.title_appointment {
    width: 100%;
    height: 65px;
    background-color: #21a0b3;
    text-align: center;
    font-size: 31px;
    border-radius: 0 0 25px 25px;
    padding: 10px 0 0 10px;
    color: white;
    font-weight: 700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.title_box_appointment {
    color: #a72020;
    font-size: 30px;
    font-style: italic;
    margin: 30px 0 40px 0;
    text-align: center;
    font-weight: 600;
}

.box_appointment {
    background-color: #b2d9e6ba;
    padding: 80px 100px 50px 100px;
    border: 5px solid #96b6c5;
    border-radius: 80px;
    font-size: 20px;
    margin: 60px 200px;
    box-shadow: 0px 0px 17px 12px #8cb3cecf;
    font-weight: bold;
    /* margin: 0 200px 100px 200px;
    color: #333;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    /* background-image: url("/images/appointment-background.png"); */
    /* background-size: 73% 106%;
    background-repeat: no-repeat;
    background-clip: content-box;
    border: 2px solid black; */ 
}

.img-appointment img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.background_appointment {
    background-color: #f0f0f0;

    z-index: 100;

}

.box_appointment input,
.service_appointment,
.select_date {
    background-color: #1879971a;
    border-radius: 30px;
    border: 2px solid #0a3d5f75;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

select.service_appointment option,
#location option,
#select_doctor option {
    font-size: 16px;
    font-weight: bold;
}

.doctor-info {
    margin-left: 80px;
    border: 3px solid #1b93e375;
    border-radius: 20px;
    width: 500px;
    min-height: 600px;
    height: auto;
    padding: 45px 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.avatar_doctor {
    border: 2px solid #ccc;
    border-radius: 10px;
    height: 170px;
    width: 193px;
    margin: 15px auto;
    object-fit: cover;
    display: block;
}

.doctor-info h3 {
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    color: #333;
}

.doctor-info .rating {
    font-size: 35px;
    text-align: center;
    color: gold;
    margin-bottom: 15px;
}

.confirm-btn {
    background: #3aa9d5;
    border: 2px solid #000000b5;
    border-radius: 20px;
    font-size: 26px;
    font-weight: 600;
    color: #ffffffe3;
    cursor: pointer;
    text-align: center;
    display: block;
    width: 221px;
    padding: 10px;
    text-align: center;
    margin: 50px 45%;
    height: 58px;
}

.confirm-btn:hover {
    background: #4a90e2;
}

.box_appointment    input[type="text"],
.box_appointment input[type="tel"],
.box_appointment textarea,
.box_appointment select {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 15px;
    border: 2px solid #0a3d5f75;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #e0e6e794  inset !important; /* Màu nền của input */
    -webkit-text-fill-color: #000 !important; /* Màu chữ của input */
}

.time-slot {
    display: inline-block;
    width: 100px;
    height: 60px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background 0.3s ease, border-color 0.3s ease;
}

.time-slot:hover {
    background-color: #ddd;
    border-color: #4a90e2;
}

.time-slot.disabled {
    background-color: #cec1c14a;
    cursor: not-allowed;
    color: #888;
}





select.service_appointment option {
    font-size: 16px;
    font-weight: bold;
}

#location {
    background-color: #1879971a;
    border-radius: 30px;
}

#location option {
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
}

#select_doctor {
    background-color: #1879971a;
    border-radius: 30px;
}

#select_doctor option {
    background-color: #1879971a;
    font-weight: 600;
}

.select_date {
    background-color: #1879971a;
    border-radius: 30px;
}

.doctor-info {
    visibility: hidden;
    margin-left: 80px;
    margin-bottom: 30px;
    border: 3px solid #1b93e375;
    border-radius: 30px;
    width: 500px;
    min-height: 600px;
    height: auto;
    padding: 45px 27px 22px 20px;
    background-color: #faf2f273;
}

.avatar_doctor {
    border: 2px solid black;
    border-radius: 10px;
    height: 170px;
    width: 193px;
    margin: 15px auto;
    object-fit: cover;
    display: block;
}

.doctor-info h3 {
    text-align: center;
    font-size: 34px;
    font-weight: 600;
}

.doctor-info .rating {
    font-size: 35px;
    text-align: center;
    color: gold;
    margin-bottom: 15px;

}



.box_appointment input[type="text"],
.box_appointment input[type="tel"],
.box_appointment textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #0a3d5f75;
    border-radius: 30px;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: #1879971a;
}


.time-slot {
    display: inline-block;
    width: 100px;
    height: 60px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 30px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
    border: 2px solid black;
    transition: background-color 0.3s, border-color 0.3s;
}

.time-slot:hover {
    background-color: #e0e0e0;
    border-color: #888;
}

.time-slot.disabled {
    background-color: #ddd;
    cursor: not-allowed;
    border-color: #aaa;
    color: #888;
}

.time-slot.selected {
    background-color: #4caf50;
    color: white;
    border-color: #4caf50;
}

.doctor-icon {
    background-image: url('path/to/doctor-icon.png');
    /* Đường dẫn tới icon bác sĩ */
    width: 16px;
    /* Chiều rộng của icon */
    height: 16px;
    /* Chiều cao của icon */
    display: inline-block;
    background-size: contain;
    margin-right: 5px;
    /* Khoảng cách giữa icon và text */
}

.textarea-description {
    display: none;
    padding: 10px 0 0 0;
}


.confirm-appointment {
    display: none;
    width: 550px;
    height: 450px;
    padding: 40px;
    border: 6px solid #a6aba6d6;
    border-radius: 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 999;
    color: black;
    font-size: 18px;
    box-shadow: 0px 0px 11px 7px #716868;
}

.confirm-appointment h2 {
    font-weight: bold;

}

.confirm-appointment p {
    text-align: start;
}

#confirm-success-appointment {
    margin: 20px 41px 0 22%;

    background-color: #1d70dedb;
    height: 40px;
    width: 127px;
    border-radius: 20px;
    cursor: pointer;
}

#confirm-cancle-appointment {
    width: 127px;
    border-radius: 20px;
    background-color: #a7b7cca3;
    height: 40px;
    cursor: pointer;
}


.paid-appointment {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 580px;
    padding: 40px;
    border-radius: 20px;
    z-index: 999;
    font-size: 18px;
    background-color: #272A52;
    box-shadow: 0px 1px 20px 5px #786f6f;
}

.content-paid-appointment img {
    margin: 0 11%;
    height: 205px;
    object-fit: contain;
    width: 300px;
}

.content-paid-appointment h1 {
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0 10px 0;
    color: #ffc71b;
    text-align: center;
}

.content-paid-appointment {
    border-bottom: 2px solid #bbb1b1bf;
    margin-bottom: 5px;
}

.content-paid-appointment p {
    color: white;
    font-size: 16px;

}

.content-paid-appointment span {
    color: #FFC728
}

.waiting-paid-appointment p {
    display: inline-block;
    margin-right: 160px;
    color: white;
    font-size: 16px;
}

#countdown {
    color: white;
}


.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    /* Chiều cao của đường chạy */
    margin-top: 10px;
    /* Khoảng cách với phần tử trên */
}

.progress {
    height: 100%;
    width: 100%;
    /* Bắt đầu với chiều rộng 100% */
    background-color: #4caf50;
    /* Màu sắc của đường chạy */
    transition: width 1s;
    /* Hiệu ứng chuyển động */
}


/* css Phần modal  khi thanh toán thành công */
.modal-appointment {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* Nền mờ */
    animation: fadeIn 0.5s;
    /* Hiệu ứng xuất hiện */
}

.modal-appointment-content {
    background-color: #414366bd;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #292d29;
    width: 36%;
    text-align: center;
    border-radius: 10px;
    box-shadow: -1px 0px 20px 19px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.5s;
    transition: background-color 0.3s ease;
    height: 40%;
}


.modal-appointment-content h2 {
    color: #d2dad1;
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0 70px 0;
}

.tick {
    font-size: 50px;
    color: green;
    animation: bounce 1s infinite;
    /* Thêm hiệu ứng nhảy */
}

.tick .fas {
    font-size: 100px;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
        /* Nhảy lên */
    }

    60% {
        transform: translateY(-7px);
        /* Nhảy xuống */
    }
}

#countdownText {
    background-color: #ffffff36;
    border-radius: 32px;
    display: inline-block;
    padding: 5px;
    animation: fillProgress 5s linear forwards;
    overflow: hidden;
    /* Thay đổi thời gian thành 5s */
}



.icon-container {
    font-size: 50px;
    color: #4CAF50;
    margin-bottom: 20px;
}

.modal-appointment-title {
    color: #4CAF50;
    font-weight: bold;
}

.modal-appointment-text {
    color: #333;
}

.modal-appointment-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.modal-appointment-close:hover,
.modal-appointment-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}



#confirmationModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(36 34 34 / 40%);
    z-index: 1000;
}


.confirmationModal {
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    margin: 20% auto;
    background: white;
    box-shadow: 0 4px 8px 7px rgb(204 172 172 / 58%);
    text-align: center;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

button#closeModalMessage {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#closeModalMessage:hover {
    background-color: #45a049;
}





/* Thank You  */

.title-thankyou {
    text-align: center;
    font-size: 44px;
    background-color: rgb(46 47 52 / 87%);
    border-radius: 50px;
    padding: 20px 40px;
    color: #d4b437;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 50px;
}

.title-thankyou::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgb(216 202 87 / 17%);
    animation: shine 2s infinite cubic-bezier(0.82, -0.07, 0.28, 1.38);
}

@keyframes shine {
    0% {
        left: -100%;
        /* Bắt đầu từ bên trái */
    }

    100% {
        left: 100%;
        /* Kết thúc ở bên phải */
    }
}

.order-details {
    background-color: #b2d9e6ba;
    padding: 80px 100px 100px 100px;
    border: 5px solid #96b6c5;
    border-radius: 28px;
    font-size: 20px;
    margin: 146px 200px;
    box-shadow: 0px 0px 20px 11px #525050;

}


.table-appointment-detail {
    border: 5px solid #b8aeaebf;
    box-shadow: 0px 1px 7px 8px #77a6ccb3;
    margin-bottom: 50px;
}

.order-information {
    background-color: #bcb2b240;
    border: 2px solid #aba5a5bf;
    border-radius: 36px;
    padding: 20px 20px 20px 30px;
}

.order-information h2 {
    font-size: 37px;
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
}

.order-information b {
    font-size: 24px;
}

.order-information span {
    font-weight: 600;
}







.AppointmentID-thankyou {
    font-size: 25px;
    background-color: #e9e1e1a1;
    border-radius: 55px;
    padding: 20px;
}

.table-appointment-detail th,
.table-appointment-detail td {
    padding: 10px;
    /* Thêm khoảng cách bên trong ô */
    text-align: left;
    /* Căn trái cho nội dung */
    text-align: center;
    border: 1px solid #6f7478d1;
    /* Viền màu đen */
}

.table-appointment-detail th {
    background-color: #3E8E7E;
    /* Màu nền cho tiêu đề */
    color: #FFF;
    /* Màu chữ cho tiêu đề */
}

.order-details img {
    width: 218px;
    height: 234px;
    object-fit: cover;
    border: 2px solid #00000094;
    margin-top: 20px;
    border-radius: 23px;
}

.btn-detail-back {
    margin: 0 auto;
    display: block;
    width: 192px;
    border-radius: 29px;
    height: 53px;
    font-size: 20px;
    background-color: #159225;
    color: white;
}



/* Header */


header {
    /* background-color: #2b2727; */
    /* padding: 20px;*/
    /* margin-bottom: 30px;  */
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}

/* header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  header nav li {
    margin: 0 10px;
  }
  
  header  nav a {
    text-decoration: none;
    color: white
  
  } */






/* Thank you heart */

.thank-you-heart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    text-align: center;
    margin-top: 20px;
    margin-right: 100px;
}

.thank-you-heart p {
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.heart {
    margin-top: 50px;
    width: 120px;
    height: 120px;
    position: relative;
    background: linear-gradient(145deg, #7dc4e0, #80acd7);
    transform: rotate(-45deg);
    animation: beat 1.5s infinite;
    box-shadow: 0 4px 20px rgb(78 84 189 / 70%), inset 0 0 15px rgba(255, 255, 255, 0.5);
}

.heart::before,
.heart::after {
    content: "";
    width: 120px;
    height: 120px;
    background: linear-gradient(145deg, #3df4f3, #83a4cf);
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -60px;
    left: 0;
}

.heart::after {
    left: 60px;
    top: 0;
}

@keyframes beat {

    0%,
    100% {
        transform: scale(1) rotate(-45deg);
    }

    50% {
        transform: scale(1.2) rotate(-45deg);
    }
}

.heart:hover {
    animation: glow 2s infinite;
}

@keyframes glow {

    0%,
    100% {
        box-shadow: 0 4px 20px rgba(255, 99, 132, 0.7), inset 0 0 15px rgba(255, 255, 255, 0.5);
    }

    50% {
        box-shadow: 0 8px 40px  rgba(99, 161, 255, 0.7), inset 0 0 25px rgba(255, 255, 255, 0.7);
    }
}




/* mixin-title */
.mixin-title {
    text-align: center;
    margin: 40px auto 30px;
    width: 70%;
    background-color: #21a0b3;
    border-radius: 32px;
    color: #fafafa;
    font-weight: bold;
    height: 70px;
    padding: 10px;
    /* font-family: Georgia, Times New Roman, serif; */
}





/* table my-appointment */
.container-table {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
}

.table-my-appointment {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table-my-appointment .process {
    background-color: #decdcd6e;
    border-radius: 20px;
    height: 42px;
    padding: 10px;
    width: 164px;
    margin: 0 auto;
    font-weight: bold;
    font-style: normal;
}

.table-my-appointment thead {
    background-color: #5aaeba;
    color: white;
    font-weight: bold;
    text-align: center;
}

.table-my-appointment thead th {
    padding: 12px 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}


.table-my-appointment tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.table-my-appointment tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-my-appointment tbody tr:last-of-type {
    border-bottom: 2px solid #53afbd;
}

.table-my-appointment tbody td {
    padding: 12px 15px;
    color: #333;
}

.table-my-appointment tbody tr:hover {
    background-color: #f1f1f1;
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
}

.table-my-appointment tbody td {
    position: relative;
    padding: 20px;
}

.table-my-appointment tbody td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 12px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    display: none;
}

@media (max-width: 600px) {
    .table-my-appointment tbody td {
        display: block;
        text-align: right;
        padding-left: 50%;
    }

    .table-my-appointment tbody td:before {
        display: block;
    }

    .table-my-appointment tbody tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #dddddd;
    }

    .table-my-appointment tbody tr:last-of-type {
        margin-bottom: 0;
    }
}



/* .marquee-container {
    margin: 100px 0 20px 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #85c7d8c4;
    border: 2px solid #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  .marquee-container {
    border-top: 4px solid #797474;
    border-bottom: 4px solid #797474;
    margin: 100px 0 20px 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #85c7d8c4;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .marquee {
    position: absolute;
    white-space: nowrap;
    animation: marquee 7s linear infinite;
  }
  
  .marquee p {
    margin: 0;
    font-size: 55px;
    font-weight: bold;
    color: #1a6ab9;
    text-shadow: 2px 2px 4px rgb(99 96 96 / 70%);
  }
  
  @keyframes marquee {
    0% { transform: translateX(180%); }
    100% { transform: translateX(-180%); }
  }

/* table forgot-password */
.forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: monospace;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  body.forgot-password-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .form-forgot-password {
  background-color: rgba(255, 255, 255, 0.9);
  width: 420px;
  padding: 40px 30px;
  font-size: 18px;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-sizing: border-box;
  border-radius: 12px;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.2);
}

.form-forgot-password .form-forgot-password-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 35px;
  text-align: center;
}

.form-forgot-password .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-forgot-password .form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}

.form-forgot-password .form-group input {
  padding: 16px 18px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-family: inherit;
  font-size: 18px;
}

.form-forgot-password .form-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 100%;
  padding: 16px 18px;
  font-size: 20px;
  gap: 10px;
  margin: 20px 0;
  border-radius: 8px;
}

.form-forgot-password .form-submit-btn:hover {
  background-color: #313131;
}

.form-forgot-password .link {
  color: #1778f2;
  text-decoration: none;
  font-size: 18px;
}

.form-forgot-password .form-signup-link {
  align-self: center;
  font-weight: 500;
  font-size: 18px;
}

.form-forgot-password .form-signup-link .link {
  font-weight: 600;
}

.form-forgot-password .link:hover {
  text-decoration: underline;
}
.btn-pink {
    background-color: pink;
    border-color: pink;
}
.btn-pink:hover {
    background-color: #ff69b4;
    border-color: #ff69b4;
}



  /* Css Toa Thuốc */

  .prescription {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f2f1f1fc;
    height: auto;
    width: 100%;
    border: 2px solid #59a4c7;
    border-radius: 20px;
    box-shadow: 0px 0px 9px 4px #4296b6;
  }

  /* Css Contact */

  .card.contact-card{
    border-radius: 15px;
    background-color: #c2dfe594;
    height: 850px;
    border: 3px solid #6ea6ca;
    border-radius: 30px;
  }

  .card-contact-title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin: 20px;
  }

  .card-contact-content {
    font-size: 18px;
    line-height: 1.6;
    color: #1f1e1e9d;
    font-family: 'Arial', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);    
    padding: 10px;
    
  }

.card-contact-price {
    font-weight: bold;
    font-size: 20px;
    color: #333;
    padding: 10px;
}

.btn-contact-price {
    width: 27%;
    margin: 0 auto;
    border-radius: 26px;
    background-color: #a51a1a;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 6px;
    height: 56px;
}

.btn-contact-price:hover {
    background-color: #d75858;
    color: #fff; 
}

.card-body-contact {
    text-align: center;
    padding: 30px;
}
