extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-error("5000")
  +alert-success("5000")

  //- forgot password
  .container-fluid
    .row(style="height: 100vh;")
      .col-7.left-column
        img.login-img(src="/images/Login.webp" alt="Hình nền tìm tài khoản")
      .col-5.right-column.d-flex.align-items-center.justify-content-center.bg-white
        .find-account-page(style="width: 80%;")
          .form-find-account.px-4
            h2.find-account-title.mb-2.text-start Tìm tài khoản của bạn
            p.find-account-subtitle.mb-4.text-start Vui lòng nhập email để tìm tài khoản của bạn.
            form.find-account-form(action='/auth/password/forgot', method='POST')
              .form-group.mb-3
                input#email.form-control(type='email', name='email', placeholder='Nhập địa chỉ email của bạn', required)
              .form-buttons.d-flex.justify-content-between.mb-4
                a.btn.btn-secondary.btn-lg(href='/auth/login', style="border-radius: 23px; padding: 10px 30px; margin-left: 270px;") Quay lại
                button.btn.btn-primary.btn-pink.btn-lg(style="border-radius: 23px; padding: 10px 30px;" type='submit') Tìm kiếm
              p.form-login-link.text-start
                | Đã nhớ mật khẩu? 
                a.form-login-link.link(href='/auth/login') Đăng nhập


  
