extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-error("5000")
  +alert-success("5000")




  //-Reset password
  //- .container-fluid
  //-   .row(style="height: 100vh;")
  //-     .col-7.left-column
  //-       img.login-img(src="/images/Login.webp" alt="Hình nền đặt lại mật khẩu")
  //-     .col-5.right-column.d-flex.align-items-center.justify-content-center.bg-white
  //-       .reset-password-page.text-center(style="width: 80%;")
  //-         .form-reset-password.px-4
  //-           h2.reset-password-title.mb-4 Đặt lại mật khẩu
  //-           p.reset-password-subtitle.mb-5 Vui lòng nhập mật khẩu mới cho tài khoản của bạn.
  //-           form.reset-password-form(action='/auth/reset-password', method='POST')
  //-             .form-group.mb-4
  //-               label.form-label.mb-2.d-block.text-start(for="new-password" style="margin-right: 470px;") Mật khẩu mới
  //-               input#new-password.form-control(type='password', name='newPassword', placeholder='Vui lòng nhập mật khẩu mới', required)
  //-             .form-group.mb-5
  //-               label.form-label.mb-2.d-block.text-start(for="confirm-password" style="margin-right: 430px;") Xác nhận mật khẩu
  //-               input#confirm-password.form-control(type='password', name='confirmPassword', placeholder='Xác nhận mật khẩu', required)
  //-             .form-buttons.d-flex.justify-content-center.mb-5
  //-               button.btn.btn-primary.btn-pink.btn-lg(style="border-radius: 23px; padding: 10px 30px;" type='submit') Xác nhận
  //-             p.form-login-link
  //-               | Đã nhớ mật khẩu? 
  //-               a.form-login-link.link(href='/auth/login') Đăng nhập