extends ../../layouts/default.pug

block main
    head
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap", rel="stylesheet")
        .block-footer(style="height: 390vh; background-color: #f0f8ff;")
            .menu-banner-checkup
                .menu-service
                    h2.checkup-service Dịch Vụ
                    a.service-menu(href="#") Tư vấn cải thiện hồ cá 
                    a.service-menu(href="#") Khám bệnh
                    a.service-menu(href="#") Tư vấn online              
                .banner-checkup(style="flex: 1; display: flex; justify-content: center; align-items: center; padding:10px;")
                    img(src="/images/banner-service.jpg", alt="Hình ảnh thú cưng", style="position: relative; width: 90%; height: 500px; border-radius:15px;")
                    h3 Chào mừng đến với dịch vụ tư vấn online 
                        p Trang Chủ / Các dịch vụ  
                            a(href="#", style="color:#b9daf8; text-decoration:none;") / Tư vấn cải thiện hồ cá