extends ../../layouts/default.pug

block main
    head
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap", rel="stylesheet")
        .block-footer(style="height: 390vh; background-color: #f0f8ff;")
            .menu-banner-checkup
                .menu-service
                    h2.checkup-service Dịch Vụ
                    a.service-menu(href="#") Tư vấn cải thiện hồ cá 
                    a.service-menu(href="#") Khám bệnh
                    a.service-menu(href="#") Tư vấn online              
                .banner-checkup(style="flex: 1; display: flex; justify-content: center; align-items: center; padding:10px;")
                    img(src="/images/banner-service.jpg", alt="Hình ảnh thú cưng", style="position: relative; width: 90%; height: 500px; border-radius:15px;")
                    h3 Chào mừng đến với dịch vụ tư vấn online 
                        p Trang Chủ / Các dịch vụ  
                            a(href="#", style="color:#b9daf8; text-decoration:none;") / Tư vấn cải thiện hồ cá
            .body-checkup              
                h1 Dịch vụ Tư Vấn Online nơi sẽ giúp bạn giải đáp những thắc mắc của bạn khi bạn không thể đến trung tâm để tiến hành điều trị vật lí 
            .service-checkup
                .col-md-5
                    ol.process-steps(style="list-style-type: none; padding: 0")
                        <i class="fa-solid fa-fish-fins fa-5x" style="display:flex; justify-content:center; padding-bottom:20px"></i>
                        h2 Quy trình tư vấn và cải thiện hồ cá Koi
                        li - Bước 1: Khảo sát hồ cá Koi và đánh giá hiện trạng nước và cấu trúc hồ.
                        li - Bước 2: Phân tích các thông số và lập kế hoạch cải thiện.
                        li - Bước 3: Thực hiện các biện pháp cải thiện môi trường hồ theo kế hoạch đã tư vấn, đảm bảo chất lượng nước và môi trường sinh thái.
                        li - Bước 4: Kiểm tra lại và theo dõi tình trạng hồ cá Koi sau khi thực hiện cải thiện, cung cấp hướng dẫn duy trì môi trường hồ trong tương lai.
                .col-md-7
                    img(src="/images/banner-service.jpg", alt="Hình ảnh thú cưng", style="width: 100%; height: 500px; border-radius:15px;")