extends ../../layouts/default.pug

block main
    .block-footer(style="height: 140vh") 
        img(src=SettingGeneral.BannerCommunity, alt="Contact 1" style="height: 600px; object-fit: cover; width: 100%; border-bottom-left-radius: 200px;border-bottom-right-radius: 200px")
        h1.news-title Cộng Đồng #{SettingGeneral.WebsiteName}
        .content
            h2 Giới thiệu
            p Chào mừng bạn đến với Cộng Đồng KOI DOCTORS! Đây là nơi dành cho tất cả những người yêu thích cá Koi, từ những người mới bắt đầu cho đến những người đã có kinh nghiệm lâu năm. Chúng tôi cung cấp một nền tảng để chia sẻ kiến thức, kinh nghiệm và đam mê về việc chăm sóc cá Koi.

            h2 Chủ Đề Thảo Luận
            ul
                li Kỹ Thuật Chăm Sóc: Thảo luận về cách chăm sóc cá Koi hàng ngày, từ việc cho ăn đến việc làm sạch hồ cá.
                li Thiết Kế Hồ Cá: Những ý tưởng và mẹo về thiết kế hồ cá Koi để tạo môi trường sống lý tưởng cho chúng.
                li Sức Khỏe & Bệnh Tật: Hướng dẫn nhận diện và điều trị các bệnh thường gặp ở cá Koi.
                li Thức Ăn & Dinh Dưỡng: Thông tin về các loại thức ăn và chế độ dinh dưỡng phù hợp cho cá Koi.
                li Giao Lưu & Sự Kiện: Thông tin về các sự kiện, cuộc thi và buổi giao lưu dành cho những người yêu thích cá Koi.

            h2 Tài Nguyên Hữu Ích
            ul
                li Hướng Dẫn Cơ Bản
                li Video Hướng Dẫn
                li Cửa Hàng Đồ Dùng Cá KOI

            h2 Cộng Đồng Trực Tuyến
            ul
                li Diễn Đàn: Tham gia các chủ đề thảo luận, đặt câu hỏi và chia sẻ kinh nghiệm của bạn.
                li Nhóm Facebook: Kết nối với các thành viên qua nhóm Facebook để trao đổi nhanh chóng và dễ dàng.
                li Trang Web: Truy cập trang web của chúng tôi để đọc bài viết, hướng dẫn chi tiết và cập nhật các tin tức mới nhất.    
