extends ../../layouts/default.pug

block main

    .container-fluid 
        .banner-service-container 
            img.banner-service-image(style ="width: 100%;" src="/images/dummyBanner.jpg" alt="Anh dich vu ho ca")
            .overlay-service 
                h1 Tư vấn và cải thiện hồ   
        .content.mt-5.px-5(style="border-radius: 5px; background-color: #E7E7E7;")
            .overview.mt-5.mb-5.text-center   
                h4 Dịch vụ cải thiện hồ cá Koi của chúng tôi giúp tối ưu hóa môi trường sống cho cá Koi, mang đến không gian lý tưởng để cá phát triển khỏe mạnh và toàn diện. Chúng tôi tập trung vào việc cải thiện chất lượng nước nhằm tạo ra một hệ sinh thái cân bằng, bền vững cho hồ cá Koi của bạn.
            .row.process
                .col-md-7(style="display: flex; align-items: center; justify-content: center;")
                    ol.process-steps(style="list-style-type: none; padding: 0")
                        h2 Quy trình tư vấn và cải thiện hồ cá Koi
                        li Bước 1: Khảo sát hồ cá Koi và đánh giá hiện trạng nước và cấu trúc hồ.
                        li Bước 2: Phân tích các thông số và lập kế hoạch cải thiện.
                        li Bước 3: Thực hiện các biện pháp cải thiện môi trường hồ theo kế hoạch đã tư vấn, đảm bảo chất lượng nước và môi trường sinh thái.
                        li Bước 4: Kiểm tra lại và theo dõi tình trạng hồ cá Koi sau khi thực hiện cải thiện, cung cấp hướng dẫn duy trì môi trường hồ trong tương lai.
                .col-md-5
                    img.process-img(style ="width: 100%;" src="/images/dummyBanner.jpg" alt="Anh dich vu ho ca")
            .row.commit.pt-5
                .col-md-5
                    img.process-img(style ="width: 100%;" src="/images/dummyBanner.jpg" alt="Anh dich vu ho ca")
                .col-md-7(style="display: flex; align-items: center; justify-content: center;")
                    ul.commitments(style="list-style-type: none; padding: 0")
                        h2 Cam kết của chúng tôi
                        li Đảm bảo chất lượng môi trường nước đạt tiêu chuẩn tốt nhất cho sự phát triển của cá Koi.
                        li Tư vấn và thực hiện giải pháp cá nhân hóa theo nhu cầu và đặc điểm riêng của từng hồ cá.
                        li Hỗ trợ khách hàng trước, trong và sau quá trình cải thiện hồ.
                        li Bảo hành kết quả cải thiện môi trường hồ trong thời gian dài.
                    //p Với sự phục vụ của những chuyên gia có kinh nghiệm, chúng tôi cam kết đem đến cho bạn những giải pháp tốt nhất và hiệu quả nhất.
            .row.benefit.pt-5
                .col-md-7(style="display: flex; align-items: center; justify-content: center;")
                    ul.benefits(style="list-style-type: none; padding: 0")
                        h2 Lợi ích khi sử dụng dịch vụ
                        li Chăm sóc chuyên nghiệp: Đội ngũ chuyên gia có kinh nghiệm nhiều năm trong lĩnh vực chăm sóc và nuôi dưỡng cá Koi.
                        li Bảo vệ sức khỏe cá Koi: Môi trường nước trong lành giúp cá Koi phát triển khỏe mạnh, tránh các bệnh lý thường gặp.
                        li Giảm chi phí bảo trì: Bằng cách duy trì môi trường ổn định, bạn có thể tiết kiệm chi phí sửa chữa hồ hoặc xử lý các sự cố không mong muốn.
                .col-md-5
                    img.process-img(style ="width: 100%;" src="/images/dummyBanner.jpg" alt="Anh dich vu ho ca")
            .call-action.mt-5(style="display: flex; align-items: center; justify-content: center;")

                button(class="btn btn-appointment" onclick="window.location.href='/koi/appointment'" ) Đặt lịch hẹn