extends ../../layouts/default.pug

block main
    //- .container.my-3
    //-     .row 
    //-         .col-12 
    //-             h1 Trang chủ
    //-         .col-12 

    //- if(userInfo)
    //-     h1 #{userInfo.FullName}
    //-     h1 #{userInfo.AccountID}
    //-     h1 #{userInfo.Address}
    .container-fluid 
        img.img-banner(src="/images/dummyBanner.jpg" alt="Banner Image")
        section.intro
            h3.intro-title.text-center Chào Mừng Bạn Đến Với HealthyKoi
            p.intro-content Chúng tôi tự hào cung cấp dịch vụ chăm sóc sức khỏe toàn diện cho cá Koi, từ đánh giá ao nuôi, khám chữa bệnh đến tư vấn trực tuyến. Với đội ngũ bác sĩ thú y giàu kinh nghiệm và sự tận tâm, chúng tôi cam kết mang đến môi trường sống lý tưởng và sự chăm sóc tốt nhất cho những chú cá Koi của bạn.   
        section.servive
            h3.intro-title.text-center Sự Chăm Sóc Tốt Nhất Dành Cho Những Chú Cá Koi Của Bạn
            .row
                .col-md-4   
                    .card.service-card
                        img(src="images/intro-1.jpg", alt="Dịch vụ 1")
                        .card-body
                            h3.text-center.card-title Những chuyên gia bạn có thể trông cậy
                            p Giống như con người, sức khỏe của những chú Koi phụ thuộc vào việc bác sĩ điều trị có đúng.
                .col-md-4   
                    .card.service-card
                        img(src="images/intro-1.jpg", alt="Dịch vụ 1")
                        .card-body
                            h3.text-center.card-title Các bác sĩ được đào tạo và có bằng cấp chuyên môn
                            p Những chú cá Koi của bạn xứng đáng được nhận những sự chăm sóc tốt nhất. Đó là những gì chúng tôi đã cam kết thực hiện.
                .col-md-4   
                    .card.service-card
                        img(src="images/intro-2.jpg", alt="Dịch vụ 1")
                        .card-body
                            h3.text-center.card-title Chăm sóc khách hàng
                            p Khi chú Koi của bạn bị tổn thương, bạn thân bạn sẽ không vui. Chúng tôi sẽ chăm sóc bạn bằng cách làm cho bạn cảm thấy thoải mái nhất.
        //- hr.seperate-line 