extends ../../layouts/default.pug

block main
    .container.my-3
        .row 
            .col-12 
                h1 Trang chủ
            .col-12 

    if(userInfo)
        h1 #{userInfo.FullName}
        h1 #{userInfo.AccountID}
        h1 #{userInfo.Address}
