extends ../../layouts/default.pug
include ../../mixins/back-to-top.pug

block main
    head
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap", rel="stylesheet")
        .block-footer(style="height: 100%; background-color: #f0f8ff;")
            .menu-banner-checkup
                .menu-service
                    h2.checkup-service Dịch Vụ
                    a.service-menu(href="/koi/envConsult") Tư vấn cải thiện hồ cá 
                    a.service-menu(href="/koi/checkUp") Khám bệnh
                    a.service-menu(href="/koi/onlConsult") Tư vấn online
                .banner-checkup(style="flex: 1; display: flex; justify-content: center; align-items: center; padding:0px;")
                    img(src="/images/news2.jpg", alt="Hình ảnh thú cưng", style="position: relative; width: 90%; height: 500px; border-radius:15px;")
                    h3 Chào mừng đến với dịch vụ tư vấn online
                        p Trang Chủ / Các dịch vụ  
                            a(href="/koi/checkUp", style="color:#b9daf8; text-decoration:none;") / tư vấn online.body-checkup  
            .body-checkup                              
                p Dịch vụ Tư Vấn Online nơi sẽ giúp bạn giải đáp những thắc mắc của bạn khi bạn không thể đến trung tâm để tiến hành điều trị vật lí 