header.header 
    .ml-5.mr-5
        .row.align-items-center
            .col-3 
                .inner-logo 
                    a(href= `${prefixAdmin}/dashboard`)  Nhân Viên
            .col-9 
                div(class="text-right")
                    a(
                        href=`/staff/my-account`
                        class="btn btn-primary btn-sm mr-2"
                    ) #{user.fullName}
                    a(
                        href=`/auth/logout`
                        class="btn btn-danger btn-sm"
                    ) Đăng xuất 




