header.header 
    .ml-5.mr-5
        .row.align-items-center
            .col-3 
                .inner-logo 
                    a(href= `/staff/dashboard`)  Nhân Viên
            .col-9 
                div(class="text-right")
                    a(
                        href=`/staff/my-account`
                        class="btn btn-primary btn-sm mr-2"
                    ) #{user.FullName}
                    img(src=user.Avatar, alt="", onclick="window.location.href='/staff/my-account'" ,class="avatar-user-mini-circle")
                    a(
                        href=`javascript: `
                        button-logout
                        class="btn btn-danger btn-sm"
                    ) Đăng xuất  




