prefixAdmin
    .sider 
        .inner-menu 
            ul 
                    li 
                        a(href=`/staff/dashboard`) Tổng quan 

                    li 
                        a(href=`/staff/dashboard`) Danh mục Nhân viên
                    li 
                        a(href=`/staff/dashboard`) Danh mục Nhân viên 