
prefixAdmin
style.
    .admin-sider {
        background-color: #2c3e50;
        color: #ecf0f1;
        width: 280px;
        height: 100vh;
        padding: 20px 0;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
    .sider-header {
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid #34495e;
    }
    .sider-logo {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }
    .sider-title {
        font-size: 24px;
        margin: 0;
        font-weight: 300;
    }
    .sider-nav {
        padding-top: 30px;
    }
    .sider-menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .sider-menu-item {
        margin-bottom: 5px;
    }
    .sider-link {
        display: flex;
        align-items: center;
        padding: 12px 25px;
        color: #6c757d;
        text-decoration: none;
        transition: all 0.3s;
        border-left: 4px solid transparent;
    }
    .sider-link:hover, .sider-link.active {
        background-color: #34495e;
        border-left: 20px solid #3498db;
        border-left-color: #3498db;
        text-decoration: none;
    }
    .sider-link i {
        margin-right: 15px;
        width: 20px;
        text-align: center;
        font-size: 40px;
        margin-right: 40px;
        display: inline-block;
    }
    
    .sider-link span {
        font-size: 16px;
    }
    .sider-footer {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #bdc3c7;
    }
.sider 
    .admin-sider
        .sider-header
            img(src=user.Avatar, alt="" srcset="" style="border-radius: 40px;width: 200px;height: 200px;object-fit: cover;  margin: 20px; cursor: pointer;" onclick="window.location.href='/staff/my-account'")
            h2.sider-title Nhân viên
        nav.sider-nav
            ul.sider-menu
                li.sider-menu-item
                    a.sider-link(href=`/staff/dashboard`)
                        i.fas.fa-chart-area
                        span Tổng quan
                li.sider-menu-item
                    a.sider-link(href=`/staff/schedules`)
                        i.fas.fa-users
                        span Lịch Bác Sĩ
                li.sider-menu-item
                    a.sider-link(href=`/staff/appointment`)
                        i.fas.fa-list
                        span Hồ sơ dịch vụ
                li.sider-menu-item
                    a.sider-link(href=`/staff/feedback`)
                        i.fa-solid.fa-star
                        span FeedBack
                li.sider-menu-item
                    a.sider-link(href=`/staff/chat`)
                        i.fas.fa-comments
                        span Chat

        