extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-success("5000")
    +alert-error('5000')
    .block-sider(style="width:90%;margin-left:180px;")  
        h1 #{pageTitle}
