extends ../../layouts/default.pug

block main
    head 
       link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap", rel="stylesheet")
    .block-footer(style="height: 500vh") 
        img(src="/images/banner6.png", alt="Contact 1" style="height: 600px; object-fit: cover; width: 100%;")
        h1.community-title(style="position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%); color: white; text-align: center;") Cộng Đồng Koi Healthy
        .btn-home(style="position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); display: flex; justify-content: center;")
            a.community-title(href='/koi' style="font-size: 1.5rem; color: white; background-color: rgba(0, 0, 0, 0.5); padding: 10px 20px; border-radius: 5px;") Trang chủ
