extends ../../layouts/default.pug

block main
    head 
       link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap", rel="stylesheet")
    .block-footer(style="height: 300vh") 
        img(src="/images/Koi-community.png", alt="Contact 1" style="height: 550px; object-fit: cover; width: 100%; filter: grayscale(0.7);")
        h1.community-title(style="position: absolute; top: 47%; left: 5%; transform: translateY(-80%); text-align: left; font-weight: Bold; font-size: 4rem;  color: white;") CŠĽông ńźŠĽďng Koi Healthy
        .btn-home(style="position: absolute; bottom: 370px; left: 6%; transform: translateY(50%); display: flex; justify-content: center;")
            a.community-title(href='/koi' style="font-size: 1.5rem; color: white; border-radius: 5px; ") Trang chŠĽß
            p.community-title(style="font-size: 1.5rem; border-radius: 5px; padding-left:10px; color: #b9daf8;") / CŠĽông ńĎŠĽďng Koi Healthy
        .content-section(style="text-align: center; padding: 50px; ")
        h2(style="font-family: 'Oswald', sans-serif; font-size: 2.5rem; color: #333; max-width: 650px; margin: 0 auto; margin-bottom: 20px ") Ch√†o mŠĽęng ńĎŠļŅn vŠĽõi CŠĽông ńźŠĽďng Koi Healthy
        p(style="font-size: 1.2rem; color: #666; max-width: 800px; margin: 0 auto; text-align: center;") N∆°i c√≥ nhiŠĽĀu b√†i b√°o c√≥ kinh nghiŠĽám, trŠļ£i nghiŠĽám v√† chia sŠļĹ ńĎŠļŅn tŠĽę nhiŠĽĀu th√†nh vi√™n trong ńĎ√≥ c√≥ nhŠĽĮng ng∆įŠĽĚi nŠĽēi tiŠļŅng trong c√°c cŠĽông ńĎŠĽďng c√° Koi c√≥ mŠļ∑t tŠļ°i ńĎ√Ęy. Hi vŠĽćng mŠĽći ng∆įŠĽĚi tham gia t√≠ch cŠĽĪc ńĎŠĽÉ c√≥ mŠĽôt cŠĽông ńĎŠĽďng tŠĽĎt ńĎŠļĻp v√† l√†nh mŠļ°nh
        .container-fluid.community-container
            .row
                .col-md-3.news-box                 
                    img(src="/images/community-new1.jpg", alt="News 1" style="width: 100%; border-radius: 10px; margin: 10px;") 
                    .info-community-news
                        .category Care
                        .date 05 Jan                       
                    h3 10 tips cŠļßn thiŠļŅt d√†nh cho sŠĽ©c khŠĽŹe cŠĽßa c√° Koi
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                    a(href="https://koixinh.com/2021/04/15/qua-trinh-phat-trien-cua-ca-koi/#:~:text=Nh%E1%BB%AFng%20l%C6%B0u%20%C3%BD%20%C4%91%E1%BB%83%20c%C3%A1%20Koi%20ph%C3%A1t%20tri%E1%BB%83n,S%E1%BB%AD%20d%E1%BB%A5ng%20c%C3%A1c%20s%E1%BA%A3n%20ph%E1%BA%A9m%20h%E1%BB%97%20tr%E1%BB%A3%20") Read More ‚Üí
                .col-md-3.news-box 
                    img(src="/images/community-new2.jpg", alt="News 2" style="width: 100%; border-radius: 10px; margin: 10px;") 
                    .info-community-news
                        .category Care
                        .date 05 Jan   
                    h3 C√°ch chŠĽćn ńĎ√ļng loŠļ°i thŠĽ©c ńÉn cho nhŠĽĮng ch√ļ c√° Koi cŠĽßa bŠļ°n
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                    a(href="https://sanvuonadong.vn/thuc-an-ca-koi.html") Read More ‚Üí     
                .col-md-3.news-box  
                    img(src="/images/community-new3.jpg", alt="News 3" style="width: 100%; border-radius: 10px; margin: 10px;")
                    .info-community-news
                        .category Care
                        .date 05 Jan   
                    h3 SŠĽĪ quan trŠĽćng trong viŠĽác kiŠĽÉm tra sŠĽ©c khŠĽŹe cŠĽßa c√° Koi
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                    a(href="https://koixinh.com/2021/04/15/qua-trinh-phat-trien-cua-ca-koi/") Read More ‚Üí
                .col-md-3.news-box                 
                    img(src="/images/community-new4.jpg", alt="News 1" style="width: 100%; border-radius: 10px; margin: 10px;") 
                    .info-community-news
                        .category Care
                        .date 05 Jan                       
                    h3 SŠĽĪ quan trŠĽćng cŠĽßa thay ńĎŠĽēi kh√≠ hŠļ≠u ńĎŠĽēi vŠĽõi lo√†i c√° Koi
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                    a(href="https://koiscape.vn/vao-mua-mua-thoi-tiet-giao-mua-phai-cham-soc-ho-ca-koi-nhu-nao-la-dung/#:~:text=H%E1%BB%93%20c%C3%A1%20Koi%20ngo%C3%A0i%20tr%E1%BB%9Di%20lu%C3%B4n%20b%E1%BB%8B%20%E1%BA%A3nh,kh%C3%B4ng%20kh%C3%AD%2C%20%C4%91%E1%BA%A5t%E2%80%A6%20ch%E1%BA%A3y%20tr%C6%B0c%20ti%E1%BA%BFp%20xu%E1%BB%91ng%20h%E1%BB%93.") Read More ‚Üí
                .col-md-3.news-box 
                    img(src="/images/community-new5.jpg", alt="News 2" style="width: 100%; border-radius: 10px; margin: 10px;") 
                    .info-community-news
                        .category Care
                        .date 05 Jan   
                    h3 TŠĽēng quan vŠĽĀ c√°c loŠļ°i c√° Koi
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                    a(href="https://sanvuontrucxinh.com/ca-koi#:~:text=C%C3%B3%208%20lo%E1%BA%A1i%20nh%C3%B3m%20c%C3%A1%20Koi%20ch%C3%ADnh%20%C4%91%C6%B0%E1%BB%A3c,tr%C6%B0ng%20cho%20qu%E1%BB%91c%20k%E1%BB%B3%20c%E1%BB%A7a%20Nh%E1%BA%ADt%20B%E1%BA%A3n%20%29") Read More ‚Üí     
                .col-md-3.news-box  
                    img(src="/images/community-new6.jpg", alt="News 3" style="width: 100%; border-radius: 10px; margin: 10px;")
                    .info-community-news
                        .category Care
                        .date 05 Jan   
                    h3 M√īi tr∆įŠĽĚng sŠĽĎng cŠļßn thiŠļŅt d√†nh cho c√° Koi
                    p Lorem ipsum dolor sit amet, cont enim ad minim veniam quis.
                    a(href="https://zenkoifarm.vn/moi-truong-song-cua-ca-koi/#:~:text=%C4%90%E1%BB%83%20c%C3%A1%20Koi%20ph%C3%A1t%20tri%E1%BB%83n%20t%E1%BB%91t%2C%20gi%E1%BB%AF%20%C4%91%C6%B0%E1%BB%A3c,l%C3%BD%20t%C6%B0%E1%BB%9Fng%20l%C3%A0%20n%C6%B0%E1%BB%9Bc%20m%C6%B0a%20ho%E1%BA%B7c%20n%C6%B0%E1%BB%9Bc%20ng%E1%BA%A7m.") Read More ‚Üí

            .row(style="text-align: center; margin-top: 30px;")
                h1(style="width: 100%; height:100%;") CŠĽông ńźŠĽďng Koi Healthy
                .col-md-4.profile-card
                    .card(style="border: 1px solid #ddd; border-radius: 10px; padding: 20px; text-align: center;")
                        img(src="/images/profile1.jpg", alt="Profile 1" style="width: 100%; border-radius: 50%;")
                        h3 NgŠĽćc Anh
                        p Chuy√™n gia vŠĽĀ c√° Koi vŠĽõi h∆°n 10 nńÉm kinh nghiŠĽám.
                        a(href="#") Xem th√™m ‚Üí
                .col-md-4.profile-card
                    .card(style="border: 1px solid #ddd; border-radius: 10px; padding: 20px; text-align: center;")
                        img(src="/images/profile2.jpg", alt="Profile 2" style="width: 100%; border-radius: 50%;")
                        h3 Minh TuŠļ•n
                        p Nh√† nghi√™n cŠĽ©u vŠĽĀ m√īi tr∆įŠĽĚng sŠĽĎng cŠĽßa c√° Koi.
                        a(href="#") Xem th√™m ‚Üí
                .col-md-4.profile-card
                    .card(style="border: 1px solid #ddd; border-radius: 10px; padding: 20px; text-align: center;")
                        img(src="/images/profile3.jpg", alt="Profile 3" style="width: 100%; border-radius: 50%;")
                        h3 H∆į∆°ng Giang
                        p Chuy√™n gia dinh d∆įŠĽ°ng cho c√° Koi.
                        a(href="#") Xem th√™m ‚Üí