extends ../../layouts/default.pug

block main
    .block-footer(style="height: 100vh") 
        img(src="/images/koinews.png", alt="Contact 1" style="height: 600px; object-fit: cover; width: 100%; border-bottom-left-radius: 200px;border-bottom-right-radius: 200px")
        