extends ../../layouts/default.pug

block main
    .block-footer(style="height: 150vh") 
        img(src="/images/banner6.png", alt="Contact 1" style="height: 600px; object-fit: cover; width: 100%; border-bottom-left-radius: 200px;border-bottom-right-radius: 200px")
        h1.news-title Cộng Đồng Koi Healthy
        
