extends ../../layouts/default.pug

block main
    head 
       link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap", rel="stylesheet")
    .block-footer(style="height: 500vh") 
        img(src="/images/Koi-community.png", alt="Contact 1" style="height: 600px; object-fit: cover; width: 100%; filter: grayscale(0.7);")
        h1.community-title(style="position: absolute; top: 40%; left: 10%; transform: translateY(-80%); text-align: left; font-weight: Bold") Cộng Đồng Koi Healthy
        .btn-home(style="position: absolute; bottom: 200px; left: 20%; transform: translateY(50%); display: flex; justify-content: center;")
            a.community-title(href='/koi' style="font-size: 1.5rem; color: white; border-radius: 5px;") Trang chủ
            p.community-title(style="font-size: 1.5rem; color: white; border-radius: 5px; padding-left:10px;") / Cộng đồng Koi-Healthy