extends ../../layouts/default.pug

block main
    head 
       link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap", rel="stylesheet")
    .block-footer(style="height: 240vh") 
        img(src="/images/banner6.png", alt="Contact 1" style="height: 600px; object-fit: cover; width: 100%; border-bottom-left-radius: 200px;border-bottom-right-radius: 200px")
        h1.news-title Cộng Đồng Koi Healthy
        .content.community
            h2.title-community Giới thiệu
            p Chào mừng bạn đến với Cộng Đồng KOI DOCTORS! Đây là nơi dành cho tất cả những người yêu thích cá Koi, từ những người mới bắt đầu cho đến những người đã có kinh nghiệm lâu năm. Chúng tôi cung cấp một nền tảng để chia sẻ kiến thức, kinh nghiệm và đam mê về việc chăm sóc cá Koi.
            h2.title-community Chủ Đề Thảo Luận
            ol.community-topic
                li.h4 Kỹ Thuật Chăm Sóc: Thảo luận về cách chăm sóc cá Koi hàng ngày, từ việc cho ăn đến việc làm sạch hồ cá.
                    img(src="/images/KoiPondCommunity.jpg", alt="Contact 1" style="height: 400px;  width: 50%; margin: 20px 320px;")
                    ul.community-koi-health-care 
                        li.h5 Cho cá ăn hàng ngày  
                            ul  
                                em - Chọn loại thức ăn phù hợp: Cá Koi cần thức ăn có chất lượng cao, giàu dinh dưỡng. Chúng thích các loại thức ăn chứa protein, vitamin và khoáng chất để giúp duy trì màu sắc và sự phát triển. 
                                br
                                em - Lượng thức ăn vừa phải: Cá Koi thường chỉ nên được cho ăn một lượng vừa đủ, khoảng 2-3 lần mỗi ngày. Không nên cho ăn quá nhiều vì thức ăn thừa sẽ làm dơ nước và gây hại cho cá.
                                br
                                em - Thay đổi khẩu phần theo mùa: Vào mùa đông, khi nhiệt độ nước thấp, quá trình trao đổi chất của cá chậm lại, nên giảm lượng thức ăn. Ngược lại, vào mùa hè, có thể tăng khẩu phần ăn khi cá hoạt động mạnh hơn.
                                
                        li.h5 Kiểm tra sức khỏe của cá
                            ul
                                em - Chọn loại thức ăn phù hợp: Cá Koi cần thức ăn có chất lượng cao, giàu dinh dưỡng. Chúng thích các loại thức ăn chứa protein, vitamin và khoáng chất để giúp duy trì màu sắc và sự phát triển. 
                                br
                                em - Lượng thức ăn vừa phải: Cá Koi thường chỉ nên được cho ăn một lượng vừa đủ, khoảng 2-3 lần mỗi ngày. Không nên cho ăn quá nhiều vì thức ăn thừa sẽ làm dơ nước và gây hại cho cá.    
                        li
                        li
                        li 
                        li

                li Thiết Kế Hồ Cá: Những ý tưởng và mẹo về thiết kế hồ cá Koi để tạo môi trường sống lý tưởng cho chúng.
                li Sức Khỏe & Bệnh Tật: Hướng dẫn nhận diện và điều trị các bệnh thường gặp ở cá Koi.
                li Thức Ăn & Dinh Dưỡng: Thông tin về các loại thức ăn và chế độ dinh dưỡng phù hợp cho cá Koi.
                li Giao Lưu & Sự Kiện: Thông tin về các sự kiện, cuộc thi và buổi giao lưu dành cho những người yêu thích cá Koi.

            h2.title-community Tài Nguyên Hữu Ích
            ul.community-topic
                li Hướng Dẫn Cơ Bản
                li Video Hướng Dẫn
                li Cửa Hàng Đồ Dùng Cá KOI

            h2.title-community Cộng Đồng Trực Tuyến
            ul.community-topic
                li Diễn Đàn: Tham gia các chủ đề thảo luận, đặt câu hỏi và chia sẻ kinh nghiệm của bạn.
                li Nhóm Facebook: Kết nối với các thành viên qua nhóm Facebook để trao đổi nhanh chóng và dễ dàng.
                li Trang Web: Truy cập trang web của chúng tôi để đọc bài viết, hướng dẫn chi tiết và cập nhật các tin tức mới nhất.    
