extends ../../layouts/default.pug

block main
    head
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap", rel="stylesheet")
    .block-footer(style="height: 200vh")
        img(src="/images/koinews.png", alt="Contact 1" style="height: 600px; object-fit: cover; width: 100%; border-bottom-left-radius: 200px;border-bottom-right-radius: 200px")
        h1.news-title Tin Tức Nổi Bật

        .news-container
            .row.card-news-box
                .col-md-4.card-news 
                    img(src="/images/news1.png", alt="Contact 1" style="height: 200px; object-fit: cover; width: 100%; border-radius: 20px; border: 3px solid black;")
                    p April 12, 2024
                    h3 Information About Patients' Rights And Responsibilities
                    p Section 1. PATIENTS' RIGHTS Right to be medical examination and treatment...
                    a(href="#") Xem Thêm
                .col-md-4.card-news 
                    img(src="/images/news1.png", alt="Contact 1" style="height: 200px; object-fit: cover; width: 100%; border-radius: 20px; border: 3px solid black;")
                    p August 16, 2022
                    h3 Pre-Pregnant Examination Package
                    p Pregnant is the most important occasion in a Koi's life...
                    a(href="#") <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                </svg>
                .col-md-4.card-news 
                    img(src="/images/news1.png", alt="Contact 1" style="height: 200px; object-fit: cover; width: 100%; border-radius: 20px; border: 3px solid black;")
                    p August 16, 2022
                    h3 General Health Check-Up Packages At Koi Healthy
                    p General health checkup packages from basic to advanced...
                    a(href="#") Xem Thêm
                
