extends ../../layouts/default.pug

block main
    head
        link(href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap", rel="stylesheet")
    .block-footer(style="height: 200vh")
        img(src="/images/koinews.png", alt="Contact 1" style="height: 600px; object-fit: cover; width: 100%; border-bottom-left-radius: 200px;border-bottom-right-radius: 200px")
        h1.news-title Tin Tức Nổi Bật

        .news-container
            .row.card-news-box
                .col-md-4.news-item 
                    img(src="/images/news1.png", alt="Contact 1" style="height: 200px; object-fit: cover; width: 100%; border-radius: 20px; border: 3px solid black;")
                    p April 12, 2024
                    h2 Information About Patients' Rights And Responsibilities
                    p Section 1. PATIENTS' RIGHTS Right to be medical examination and treatment...
                    a(href="#") Tiếp tục
                .col-md-4.news-item 
                    img(src="/images/news1.png", alt="Contact 1" style="height: 200px; object-fit: cover; width: 100%; border-radius: 20px; border: 3px solid black;")
                    p August 16, 2022
                    h2 Pre-Marriage Examination Package
                    p Marriage is the most important occasion in a person's life...
                    a(href="#") Tiếp tục
                .col-md-4.news-item 
                    img(src="/images/news1.png", alt="Contact 1" style="height: 200px; object-fit: cover; width: 100%; border-radius: 20px; border: 3px solid black;")
                    p August 16, 2022
                    h2 General Health Check-Up Packages At Hanh Phuc...
                    p General health checkup packages from basic to advanced...
                    a(href="#") Tiếp tục
                
