extends ../../layouts/default.pug

block main
    head
        link(href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap", rel="stylesheet")
    .block-footer(style="height: 200vh")
        img(src="/images/koinews.png", alt="Contact 1" style="height: 600px; object-fit: cover; width: 100%; border-bottom-left-radius: 200px;border-bottom-right-radius: 200px")
        h1.news-title Tin Tức Nổi Bật

