extends ../../layouts/default.pug

block main
    head
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap", rel="stylesheet")
    .block-footer(style="height: 200vh")
        img(src="/images/koinews.png", alt="Contact 1" style="height: 600px; object-fit: cover; width: 100%; border-bottom-left-radius: 200px;border-bottom-right-radius: 200px")
        h1.news-title Tin Tức Nổi Bật

        .news-container
            .row.card-news-box
                .col-md-4.card-news 
                    img(src="/images/news1.png", alt="Contact 1" style="height: 200px; object-fit: cover; width: 100%; border-radius: 20px; border: 3px solid black;")
                    p April 12, 2024
                    h3 Information About Patients' Rights And Responsibilities
                    p Section 1. PATIENTS' RIGHTS Right to be medical examination and treatment...
                    a(href="#") 

                .col-md-4.card-news 
                    img(src="/images/news1.png", alt="Contact 1" style="height: 200px; object-fit: cover; width: 100%; border-radius: 20px; border: 3px solid black;")
                    p August 16, 2022
                    h3 Pre-Pregnant Examination Package
                    p Pregnant is the most important occasion in a Koi's life...
                    a(href="#") Xem Thêm
                .col-md-4.card-news 
                    img(src="/images/news1.png", alt="Contact 1" style="height: 200px; object-fit: cover; width: 100%; border-radius: 20px; border: 3px solid black;")
                    p August 16, 2022
                    h3 General Health Check-Up Packages At Koi...
                    p General health checkup packages from basic to advanced...
                    a(href="#") Xem Thêm
                
