extends ../../layouts/default.pug

block main
    .block-footer(style="height: 86vh")
        img(src="/images/koinews.png", alt="Contact 1" style="height: 400px; object-fit: cover; width: 100%; border-bottom-left-radius: 60px;border-bottom-right-radius: 60px")

