

mixin chatAi()
    #ai-chat-button.ai-chat-button
            i.fas.fa-comment
            span Chat

    #ai-chatbox.ai-chatbox
        .ai-chatbox-header
            h3 Chat 
            button#close-chat.close-chat &times;
        .ai-chatbox-messages
        .ai-chatbox-input
            input(type="text" placeholder="Nhập câu hỏi của bạn...")
            button#send-message
                i.fas.fa-paper-plane

