
extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success("5000")
    +alert-error("5000")
    //- .container.my-3
    //-     .row 
    //-         .col-12 
    //-             h1 Login
    //-         .col-12
    //-             form(action="/auth/login" method="post")
    //-                 .form-group
    //-                     label(for="Email") Email
    //-                     input#email.form-control(type="email" name="Email" required)
    //-                 .form-group
    //-                     label(for="Password") Password
    //-                     input#password.form-control(type="password" name="Password" required)
    //-                 .form-group
    //-                     a.text-decoration-none(href="/auth/password/forgot") Quên mật khẩu? 
    //-                 button.btn.btn-primary(type="submit") Login
    .container-fluid 
        .row(style="height: 100vh;")
            .col-7.left-column 
                img.login-img(src="/images/Login.png" alt="Login image")
            .col-5.right-column(style="padding: 150px 0 0 50px;")
                .right-container 
                    .card.shadow-sm(style="border-radius: 40px; margin-right: 100px;")
                        .card-header(style="background: linear-gradient(to right, #2e87b2, #86d1e7e3); border-top-left-radius: 30px; border-top-right-radius: 30px;")
                            h2.card-title.text-center.mb-4(style="background: linear-gradient(#121313, #5c5f60e3); color: transparent; -webkit-background-clip: text; font-size: 40px;") Đăng nhập
                        .card-body(style="padding: 2rem;")
                            form(action="/auth/login" method="post")
                                    .form-group
                                        label(for="Email") Email
                                        input#email.form-control.login-element(type="email" name="Email" required)
                                    .form-group
                                        label(for="Password") Password
                                        input#password.form-control.login-element(type="password" name="Password" required)
                                    .form-group.utilities
                                        .remember-utilities
                                            input(type="checkbox" name="RememberMe") 
                                            label(for="Remember")(style="margin-right: 400px; margin-left: 10px;") Nhớ tài khoản 
                                        .forgot-utilities
                                            a.text-decoration-none(href="/auth/password/forgot") Quên mật khẩu? 
                                    .submit-login
                                            button.btn.login-button(type="submit") Đăng nhập
