
extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success("5000")
    +alert-error("5000")
    //- .container.my-3
    //-     .row 
    //-         .col-12 
    //-             h1 Login
    //-         .col-12
    //-             form(action="/auth/login" method="post")
    //-                 .form-group
    //-                     label(for="Email") Email
    //-                     input#email.form-control(type="email" name="Email" required)
    //-                 .form-group
    //-                     label(for="Password") Password
    //-                     input#password.form-control(type="password" name="Password" required)
    //-                 .form-group
    //-                     a.text-decoration-none(href="/auth/password/forgot") Quên mật khẩu? 
    //-                 button.btn.btn-primary(type="submit") Login
    .container-fluid 
        .row 
            .col-7.left-column 
                img.register-img(src="./public/images/Login.webp" alt="Login image")
            .col-5.right-column
                .right-container 
                    h2.title-login.text-center.m-4 Đăng nhập
                    .form-container.login-container
                        form(action="/auth/login" method="post")
                        .form-group
                            label(for="Email") Email
                            input#email.form-control.login-element(type="email" name="Email" required)
                        .form-group
                            label(for="Password") Password
                            input#password.form-control.login-element(type="password" name="Password" required)
                        .form-group.utilities
                            .remember-utilities
                                input(type="checkbox" name="RememberMe") 
                                label(for="Remember") Nhớ tài khoản 
                            .forgot-utilities
                                a.text-decoration-none(href="/auth/password/forgot") Quên mật khẩu? 
                        .submit-login
                            button.btn.login-button(type="submit") Login
