extends ../../layouts/default.pug
include ../../mixins/alert.pug  

block main
    +alert-success("5000")
    +alert-error('5000')

    .block-sider(style="margin-left:180px;")
        h1 #{pageTitle}
        h1 #{user.FullName}
        button#finance Doanh thu
        button#rating Đánh giá
        div(style="width: 1300px")   
            canvas#test
        button#month Theo tháng
        button#date Theo ngày   

    script(type="module", src="/admin/js/chart.js")
    script(src="https://cdn.jsdelivr.net/npm/chart.js")

