extends ../../layouts/default.pug
include ../../mixins/mixin-title.pug
include ../../mixins/alert.pug

block main
  style.
    .form-control {
      width: 100%;
    }
    table thead tr th{
          background-color: #d2d4d4 !important;
    }
  .block-sider(style="width:90%;margin-left:150px;")
    .container-fluid
      +title("Kê Đơn Thuốc")
      +alert-success("5000")
      +alert-error('5000')
      form#prescriptionForm(action="/doctor/current-appointment/payment" method="POST")
        input#previousPageData(type="hidden" name="previousPageData")
        input#selectedMedications(type="hidden" name="selectedMedications")
        
        // Container for medication cards
        .medication-cards

        .text-center.mt-4
          button.btn.btn-lg.mr-5.payment-btn(type="submit")
              i.fas.fa-credit-card
              span Thanh toán
          a.btn.btn-lg(href="/doctor/current-appointment" class="payment-btn") 
            i.fas.fa-arrow-left
            span Quay lại

  script.
    const medications = !{JSON.stringify(listMedicine)};
  script(src="/doctor/js/prescribe-enviroment.js") 
   